@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:visited {
    color: white;
    text-decoration: none;
}

:root {
    --main-bg-color: rgb(40, 22, 83);
    --sec-bg-color: #a60553;
}


.main-navbar {
    position: fixed;
    width: 200px;
    display: flex;
    flex-direction: column
}

.navbar-link {
    align-self: center;
    background-color: #a60553;
    text-decoration: none;
    color: white;
    margin: 1rem 0;
    font-size: 2rem;
    min-width: 12rem;
    text-align: center;
    border-radius: 1rem;
}

.main_content {
    background-color: var(--main-bg-color);
    color: #f3efd6;
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
}

.center_content {
    width: 60%;
    margin: 0 20%;
    padding: 2rem;
}

.post {
    -webkit-box-shadow: -1px 6px 44px -9px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px 6px 44px -9px rgba(255, 255, 255, 1);
    box-shadow: -1px 6px 44px -9px rgb(70, 44, 100), inset -1px 6px 44px -9px rgb(70, 44, 100);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.4rem;
    border-radius: 0 0 1rem 1rem;
}

.post_author {
    display: flex;
    line-height: 3rem;
}

.post_author_image {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 6%;
}

.post_author_username {
    font-size: 1.2rem;
    margin: 0 1rem;
    font-weight: 600;
}

.post_date {
    text-align: right;
    font-size: 1rem;
}

.post_title {
    font-size: 1.2rem;
    padding: 1rem 0;
    text-transform: uppercase;
}

.post_body {
    padding: 0.5rem;
}

.profile_link,
.profile_link:active,
.profile_link:visited {
    color: white;
    text-decoration: none;
    display: flex;
}

.user_profile_page {
    width: 100%;
    border: 2px solid white;
    padding: 2rem;

}

.profile_upper {
    position: relative;
}

.profile_cover {
    width: 100%;
}

.profile_avatar {
    width: 25%;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    border: 2px solid rgb(70, 44, 100);
    border-radius: 1rem;
}

.follow_panel {
    display: flex;
    justify-content: space-around;
}

.profile_followers,
.profile_following {
    line-height: 4rem;
}

.profile_username {
    text-align: center;
    font-size: 3rem;
}

.post_form_title,
.post_form_text {
    width: 100%;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}

.post_form_text:focus-visible {
    border: 2px solid white;
}

.post_form_title {
    font-size: 1.2rem;
    margin: 0.5rem 0;


}

.post_form_text {
    min-height: 5rem;
}

.post_form {
    box-shadow: -1px 6px 44px -9px rgb(70, 44, 100), inset -1px 6px 44px -9px rgb(70, 44, 100);
    margin: 0 0 2rem 0;
    padding: 1rem;
    border-radius: 0.4rem;
    border-radius: 0 0 1rem 1rem;

}

.main_button {
    background-color: var(--sec-bg-color);
    text-decoration: none;
    color: white;
    margin: 1rem 0;
    font-size: 1.5rem;
    min-width: 6rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid white;


}

.success_message {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    background-color: aquamarine;
    padding: 1rem;
}

.loading {
    position: fixed;
    width: 10rem;
    height: 10rem;
    left: calc(50% - 5rem);
    top: calc(50% - 5rem);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ec0062;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}